
.container{
    width: 100vw;
    /* height: 100vh; */
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 8vh 1fr;
}
.menu{
    grid-area: 1 / span 2;
    background-color: var(--0);

    height: 3.2rem;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px 0px var(--cinza-shadow);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 2.4rem;
}
.menu-lateral{
    grid-area: 2 / 1 / 3 / 2;
    height: 92vh;
    position: sticky;
    top: 3.2rem;
    box-sizing: border-box;
    background-color: var(--0);
}
.body{
    grid-area: 2 / 2 / 3 / 3;
    height: 100vh - 3.2rem;
    scroll-behavior: smooth;
    overflow: hidden;

}

.menuL-list{
    margin-top: 1.6rem;
}
.Link{
    color: var(--cinza);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    align-items: center;
    height: 3.2rem;
    width: 100%;
    padding: 0 1.6rem;
    border-radius: 0 1.6rem 1.6rem 0;
}
.Link span{
    margin-left: 1.2rem;
}
.ativo{
    background-color: var(--7);
    color: var(--1);
}
.Link:hover{
    background-color: var(--8);
}

.MdIcon{
    font-size: 1.4rem;
    margin-top: .32rem;
    color: var(--cinza);
}
.configPerfil{
    margin-top: -1.6rem;
    background-color: var(--0);
    color: var(--cinza);
    border: 1px solid var(--0);
    box-shadow: 0px -.12rem 1px 1px  var(--cinza-shadow);
    border-radius: 50rem;
}

.cpointer{
    cursor: pointer;
}


/*Dashboard*/
.con-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.1rem, 1fr));
}
.card-box{
    width: 10.5rem;
    height: 17rem;
    margin: 1.6rem;
    border-radius: .64rem;
    padding: 0.2rem .8rem;
    box-sizing: border-box;
    justify-self: start;

}
.con-card-dash{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30.6rem, 1fr)); 
    
}
.card-box-dash{
    max-width: 29rem;
    min-width: 92%;
    height:  17.9rem; 
    margin: 1.6rem;
    border-radius: .64rem;
    padding: 0.2rem .8rem;
    box-sizing: border-box;
    justify-self: center;
}
.con-card-config{
    margin: 1.6rem ;
}
.card-box-config{
    height: 6.4rem;
    margin-bottom: .8rem;
    border-radius: .64rem;
    padding: 1rem 1.2rem;
    box-sizing: border-box;
    justify-self: center;
    transition: all .2s ease;
}
.card-box-config:hover{
    background-color: var(--8);
    border: 1px solid transparent;

}


.status{
    width: .64rem;
    height: .64rem;
    border-radius: 50rem;
}
/*CHAT*/
.body-chat{
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 1040px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 8vh 8vh 12fr;
        
    }
    .menu{
        grid-area: 1 / span 2;
        height: 3.2rem;
        box-shadow: none;
 
    }
    .menu-lateral{
        grid-area: 2 / span 3;
        height: 4.2rem;
        box-shadow: 0px 2px 1px 0px var(--cinza-shadow);
    }
    .menuL-list{
        flex-direction: row;
        margin-top: 0rem;

    }
    .Link{
        padding: 0;
        justify-content: center;
        align-items: flex-end;
    }
    .ativo{
        width: 100%;
        background-color: var(--0);
        color: var(--2);
        border-radius: 0%;
        position: relative;  

    }
    .ativo::after{
        content: '';
        width: 50%;
        height: 100%;
        position: absolute;
        border-bottom: 2.8px solid var(--2);
        border-radius: .1rem;
        bottom: -1.1rem;
        left: 50%;
        transform: translateX(-50%);
    }
    .res-none{
        display: none;
    }
    .Link:hover{
        background-color: var(--0);

    }

    .body{
        grid-area: 3 / span 4;
        /* height: 1000rem; */
    }
}