.container{
    width: 100vw;
    /* height: 100vh; */
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 8vh 1fr;
}
.menu{
    grid-area: 1 / span 2;

    height: 8vh;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    box-shadow: 0px 2px 1px 0px var(--cinza-shadow);
}
.menu-lateral{
    grid-area: 2 / 1 / 3 / 2;
    height: 92vh;
    position: sticky;
    top: 8vh;
    box-sizing: border-box;

}
.body{
    grid-area: 2 / 2 / 3 / 3;
    height: 1000rem;
    scroll-behavior: smooth;

}

.menuL-list{
    margin-top: 1.6rem;
}
.Link{
    color: var(--cinza);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
    font-weight: 500;
    align-items: center;
    height: 6vh;
    width: 100%;
    padding: 0 1.6rem;
    border-radius: 0 1.6rem 1.6rem 0;
}
.ativo{
    background-color: var(--7);
    color: var(--1);
}
.Link:hover{
    background-color: var(--8);
}

.MdIcon{
    font-size: 1.6rem;
}



@media screen and (max-width: 1040px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 8vh 8vh 12fr;
        
    }
    .menu{
        grid-area: 1 / span 2;
        height: 8vh;
        box-shadow: none;
        display: flex;
        justify-content: flex-start;
    }
    .menu-lateral{
        grid-area: 2 / span 3;
        height: 8vh;
        box-shadow: 0px 2px 1px 0px var(--cinza-shadow);
    }
    .menuL-list{
        flex-direction: row;
        margin-top: 0rem;

    }
    .Link{
        padding: 0;
        justify-content: center;
        align-items: flex-end;
    }
    .ativo{
        width: 100%;
        background-color: var(--0);
        color: var(--2);
        border-radius: 0%;
        position: relative;  

    }
    .ativo::after{
        content: '';
        width: 50%;
        height: 100%;
        position: absolute;
        border-bottom: 2.8px solid var(--2);
        border-radius: .1rem;
        bottom: -1.1rem;
        left: 50%;
        transform: translateX(-50%);
    }
    .MdIcon{
        display: none;
    }
    .Link:hover{
        background-color: var(--0);

    }

    .body{
        grid-area: 3 / span 4;
        /* height: 1000rem; */
    }
}