.tdn{
    text-decoration: none;
}

.container{
    width: 100vw;
    /* height: 100vh; */
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 8vh 1fr;
}
.menu{
    grid-area: 1 / span 2;
    background-color: var(--0);

    height: 3.2rem;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px 0px var(--cinza-shadow);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 2.4rem;
}
.menu-lateral{
    grid-area: 2 / 1 / 3 / 2;
    height: 92vh;
    position: sticky;
    top: 3.2rem;
    box-sizing: border-box;
    background-color: transparent;
}
.body{
    grid-area: 2 / 2 / 3 / 3;
    height: 100vh - 3.2rem;
    scroll-behavior: smooth;
    overflow: hidden;
}

.menuL-list{
    margin-top: 1.6rem;
}
.Link{
    color: var(--cinza);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    align-items: center;
    height: 3.2rem;
    width: 100%;
    padding: 0 1.6rem;
    border-radius: 0 1.6rem 1.6rem 0;
}
.Link span{
    margin-left: 1.2rem;
}
.ativo{
    background-color: var(--7);
    color: var(--1);
}
.Link:hover{
    background-color: var(--8);
}

.MdIcon{
    font-size: 1.4rem;
    margin-top: .32rem;
    color: var(--cinza);
}
.MdIconColor{
    color: var(--cinza);
}
.configPerfil{
    margin-top: -1.6rem;
    background-color: var(--0);
    color: var(--cinza);
    border: 1px solid var(--0);
    box-shadow: 0px -.12rem 1px 1px  var(--cinza-shadow);
    border-radius: 50rem;
}

.cpointer{
    cursor: pointer;
}


/*Dashboard*/
.con-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, 1fr);
    border-bottom: 1px solid var(--cinza-shadow);
    margin-top: 1.6rem 0;
}
.card-box{
    width: 6.4rem;
    height: auto;
    margin-bottom: .64rem;
    margin-right: .32rem;
    border-radius: .64rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.con-card-dash{
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr); 
    margin: 1.6rem;
}
.card-box-dash{
    min-width: 100%;
    height:  17.9rem;
    margin-bottom: .8rem;
    border-radius: .64rem;
    padding: .2rem .8rem;
    box-sizing: border-box;
    justify-self: center;
}
.con-card-config{
    margin: 1.6rem;
}
.card-box-config{
    height: 5.44rem;
    margin-bottom: .8rem;
    border-radius: .64rem;
    padding: 1rem 1.2rem;
    box-sizing: border-box;
    justify-self: center;
    transition: all .2s ease;
}
.card-box-config:hover{
    background-color: var(--8);
    border: 1px solid transparent;

}


.status{
    width: .64rem;
    height: .64rem;
    border-radius: 50rem;
    
}
/*CHAT*/
.body-chat{
    height: 100%;
    width: 100%;
}

/*LEADS*/
.leads-info{
    display: flex;
    align-items: center;
    justify-content: center;
}
.leads-info div{
    padding-bottom: .4rem;
    border-bottom: 1px solid var(--cinza-shadow);

    
}
.leads-info-output{
    font-weight: 300;
    font-style: italic;
    font-size: 1rem;
    
}
.leads-name{
    font-style: italic;
    font-size: .8rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    padding: 0 .4rem;
    color: var(--cinza);
    overflow: hidden;
    max-width: 5rem;    
    display: flex;
}
.chat-header{
    margin: 0;
}
.leads-name-chat{
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--cinza);
}
.chat-arrow-upward{
    margin-top: .8rem;
    font-size: 1.2rem;
}


@media screen and (max-width: 1040px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 2.4rem 2.4rem 1fr;
        
    }
    .menu{
        grid-area: 1 / span 2;
        height: 2.4rem;
        box-shadow: none;
        justify-content: center;
        
    }
    .menu-lateral{
        grid-area: 2 / span 3;
        height: 2.4rem;
        box-shadow: 0px 1px 0px 0px var(--cinza-shadow);
    }
    .menuL-list{
        flex-direction: row;
        margin-top: -1.6rem;

    }
    .Link{
        padding: 0;
        justify-content: center;
        align-items: flex-end;
    }
    .ativo{
        width: 100%;
        background-color: var(--0);
        color: var(--2);
        border-radius: 0%;
        position: relative;  

    }
    .ativo::after{
        content: '';
        width: 50%;
        height: 100%;
        position: absolute;
        border-bottom: 2.8px solid var(--2);
        border-radius: .1rem;
        bottom: -1.1rem;
        left: 50%;
        transform: translateX(-50%);
    }
    .res-none{
        display: none;
    }
    .Link:hover{
        background-color: transparent;

    }

    .body{
        grid-area: 3 / span 4;
        /* height: 1000rem; */
    }


    .con-card{
        margin-top: 1.6rem;
        justify-content: space-evenly;

    }

    .con-card-dash{
        margin: 2.4rem 1.6rem;    
    }
    .con-card-config{
        margin: 2.4rem 1.6rem;
    }
}