.btn{
  background-color: var(--1);
  border-radius: .2rem;
  color: var(--0);
  text-decoration: none;
  border: 1px solid transparent;
  /* text-transform: uppercase; */
  font-weight: 700;
  /* letter-spacing: .08rem; */
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: .4rem 1.6rem;
  width: 12rem;
  height: 1.2rem;
  font-family: var(--fonte);
  font-weight: 700;


}
.btns{
  display: flex;
  gap: 1.6rem;
  flex-direction: column;
}
.inverte{
  font-weight: 400;

  color: var(--1);
  background-color: var(--0);
  border: 1px solid var(--1);

}

.imagem{
  background-image: url(./img/fundo.svg);
  background-position-y: -5rem;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100rem;
  height: 16rem;
}
.perfil{
  height: 6rem;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50rem;
  width: 6rem;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  margin-top: -3.2rem;

}
.perfil img{
  height: 6.4rem;
}
.div{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.login-body{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 4rem 0;
  gap: 4rem;
}

.text{
  display: flex;
  flex-direction: column;
  gap: .8rem;
}
.title{
  color: var(--preto2);
  text-align: center;
  padding: 0 .6rem;
}
.subtitle{
  color: var(--cinza);
  text-align: center;
  padding: 0 1.6rem;
}
.link{
  color: var(--cinza);
  text-decoration: none;
}
.link:hover{
  color: var(--preto);
  text-decoration: overline;
}

.center{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alcen{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.card{
  width: 28rem;
  height: 34rem;
  border-radius: .64rem;
  border: 1px solid var(--cinza-shadow);
}

.formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
 
}
.formulario label{
  display: flex;
  flex-direction: column;
 
  
  height: 1.2rem;
  font-family: var(--fonte);
  font-weight: 300;
  color: (--cinza);
}
.formulario label input{
  width: 22rem;
  border: 1px solid var(--cinza-shadow);
  padding: .6rem 1rem;

}
.mrgn{
  margin-bottom: .8rem;
}
.formulario .title{
  font-weight: 400;
}
.formulario .subtitle{
  font-size: .9rem;
  font-weight: 600;
}


.dfc{
  display: flex;
  flex-direction: column;
}
.dfr{
  display: flex;
  flex-direction: row;
}
.logo{
  z-index: 100;
  position: relative;
}
.logo span{
  color: var(--1);
  z-index: -100;
  position: absolute;
  right: -.56rem;
  bottom: -rem;
}