.c0{
  background-color: var(--0);
}
.c1{
  background-color: var(--1);
}
.c2{
  background-color: var(--2);
}
.c3{
  background-color: var(--3);
}
.c4{
  background-color: var(--4);
}
.c5{
  background-color: var(--5);
}
.c6{
  background-color: var(--6);
}
.c7{
  background-color: var(--7);
}
.b1{
  border: 1px solid var(--cinza-shadow);

}
.HorizontalScrollContainer_defaultArrowContainer {
  position: relative;
  
}
.HorizontalScrollContainer_buttonsContainer{
  /* width: 2.4rem;
  box-shadow: -.10rem 0px .20rem .01rem var(--cinza-shadow);
  overflow: hidden; */
  width: 0;
}
.HorizontalScrollContainer_defaultArrowContainer .HorizontalScrollContainer_defaultRightArrow{
  /* position: absolute;
  width: .16rem;
  height: .16rem;
  left: -1.2rem;
  border: solid var(--cinza);
  border-width: 0 .24rem .24rem 0;
  border-radius: .16rem; */
  display: none;
}

.HorizontalScrollContainer_defaultArrowContainer .HorizontalScrollContainer_defaultLeftArrow{
  display: none;

}

.btn{
  background-color: var(--1);
  border-radius: .2rem;
  color: var(--0);
  text-decoration: none;
  border: 1px solid transparent;
  /* text-transform: uppercase; */
  font-weight: 700;
  /* letter-spacing: .08rem; */
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: .4rem 1.6rem;
  width: 12rem;
  height: 1.2rem;
  font-family: var(--fonte);
  font-weight: 700;

  margin: .8rem 0;
}
.btns{
  display: flex;
  flex-direction: column;

}
.inverte{
  font-weight: 400;
  margin-top: .8rem;
  color: var(--1);
  background-color: var(--0);
  border: 1px solid var(--1);

}

.perfil-circle{
}
.perfil-circle img{
  border-radius: 50rem;
  border: 3.2px solid var(--0);
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  background-color: var(--0);
}
.perfil-container{
  position: relative;
  margin-bottom: .4rem;
  margin-top: .2rem;
}
.status-perfil{
  position: absolute;
  width: 4.3rem;
  height: 4.3rem;
  background: linear-gradient( 45deg ,var(--gradient));
  border-radius: 50rem;
  top: -.17rem;
  left: -.15rem;
  z-index: -100;
}
.div{

}
.login-body{
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.text{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1.6rem;
}

.welcome-logo{
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
}
/* .welcome-logo img{

} */
.title{
  color: var(--preto2);
  font-weight: 500;
  padding: .4rem .6rem;  
}
.title-login{
  font-size: 1.2rem;
  color: var(--preto2);
  padding: 0rem .6rem;  
  margin-top: -.8rem;
}
.subtitle-login{
  color: var(--cinza);
  font-weight: 300;
  padding: .8rem 1.6rem;


}

.title-logo{
  color: var(--preto2);
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}
.title-logo .logo span{
  right: -.91rem;
}
.subtitle{
  color: var(--cinza);
  text-align: center;
  padding: 0rem 1.6rem;
  font-weight: 400;
}
.link{
  color: var(--cinza);
  text-decoration: none;
}
.link:hover{
  color: var(--preto);
  text-decoration: overline;
}

.center{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alcen{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.card{
  width: 21rem;
  height: 34rem;
  border-radius: .64rem;
  border: 1px solid var(--cinza-shadow);
}

.formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 3.2rem; */
 
}
.formulario label{
  display: flex;
  flex-direction: column;
  margin: 1.6rem 0 ;
  
  height: 1.6rem;
  font-family: var(--fonte);
  font-weight: 300;
  color: (--cinza);
}
.formulario label input{
  width: 16rem;
  border: 1px solid var(--cinza-shadow);
  padding: .6rem 1rem;

}
.mrgn{
  margin-bottom: .8rem;
}
.formulario .title{
  font-weight: 400;
}
.formulario .subtitle{
  font-size: .9rem;
  font-weight: 600;
}
.mgntop{
  margin-top: .4rem;
}

.dfc{
  display: flex;
  flex-direction: column;
}
.dfr{
  display: flex;
  flex-direction: row;
}
.dfrc-between{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.dfrc{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.margin08rem{
  margin: .8rem;
}

.logo{
  z-index: 100;
  position: relative;
}
.logo span{
  color: var(--1);
  z-index: -100;
  position: absolute;
  right: -.56rem;
  bottom: 0;
}